/* COMMON STYLES !!!!!!!!!!*/

a {
    text-decoration: none;
}

body {
    font-family: 'PT Sans Caption', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
/* BUTTON STYLES */
/* BUTTON */
    button {
        background-color: #0DBC91;
        height: 43px;
        width: 196px;
        border-radius: 50px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px; 
        color: #FFFFFF; 
        font-family: 'PT Sans Caption', sans-serif; 
        border: 1px solid #0DBC91;
        }

    button:hover {
        background-color: #1debb7  
    }

    button:active {
        background-color: #07a77f  
    }

/* WHITE-BUTTON */
    .white-button {
        background-color: transparent;
        color: #0DBC91; 
        border: 1px solid #0DBC91;
        }

    .white-button:hover {
        background-color: #1debb7;
        color: #FFFFFF;   
    }

    .white-button:active {
        background-color: #07a77f;
        color: #FFFFFF;   
    }

/* LOGO STYLES */
.social-logo {
    width: 28px;
    height: 28px;
}

/* DESKTOP STYLES !!!!!!!!!*/
/* HEADER */

/*ONLY MOBYLE - OFF */

@media screen and (min-width: 1128px) {
.mobyle {
    display: none;
}

#menu-to-close {
    display: none;
}
}

header {
    display: flex;
    flex-direction: column;
}

.header-top {
    height: 67px;
    width: 100%;
}

.header-top .container {
    margin-left: 20.4%;
    height: 67px;
    width: 79.6%;
    display: flex;
    align-items: center;
}

.adress > div > p {
    margin: 0 auto;
}

.adress-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.adress-top > p{
  margin-left: 5px !important;
}

.adress-bottom {
    margin-left: 20px;
    color:#868686;
}

.header-top .container > div {
    margin-right: 30px;
}

.header-top .container .phone-number {
    margin-left: 15%;
}

.phone-number {
    display: flex;
    align-items: center;
}

.phone-number a {
    text-decoration: none;
    color: #364844;
    font-size: 16px;
    margin-left: 10px;
}

.header-nav {
    background-color: #1FA181;
    height: 43px;
    width: 100%;
    z-index: 1;
}

.header-nav .container {
    margin-left: 20.4%;
    height: 43px;
    width: 79.6%;
    display: flex;
    align-items: center;
}

nav a{
    margin-right: 30px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

/* DIV ONE*/

.div-one {
    background-color: #F8FBFA;
}

.div-one .container {
    margin-left: 20.4%;
    width: 79.6%;
    height: 533px;
    display: flex;
    align-items: center;   
}

.div-one-text {
    margin-right: 10%;
}

.div-one-text-inner {
    width: 416px;
} 

.div-one-img img{
    width: 100%; /* Установить ширину на всю ширину контейнера */
    height: 533px; /* Автоматически рассчитать высоту изображения */
    object-fit: cover;
    object-position: left; /* Позиционирование изображения вправо */
}


/* DIV TWO */

.div-two {
   height: 700px;
   display: flex;
   align-content: center;
   align-items: center; 
   justify-content: center;
}

.div-two-slider {
    background-image: url(./img/Rectangle\ 33.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 440px;
}

.slide-img img {
    width: 100%;
    height: 440px;
    object-fit: cover;
    object-position: right;
}

.slide {
    display: flex;
    flex-direction: row;
}

.slide-textbar {
    
    margin-top: 5%;
    margin-left: 5%;    
}

.slide-textbar h3 {
  font-size: 38px;
  color: #364844;
  margin: 0 auto;  
}

.slide-textbar p {
    font-size: 22px;
    color: #364844;
    margin: 0 auto;  
  }

.slide-textbar ul {
  list-style-type: disc;
  color: #1FA181;
}

.slide-textbar li {
margin-bottom: 10px;
  }

.slide-textbar li span {
    font-weight: bolder;
    color: #364844;
}


.slide-img img {
    position: relative;
    z-index: -1;
}

.slide-textbar .price {
    margin-top: 7%;
}

.slide-textbar .price span{
    text-decoration: line-through;
    color: #868686;
}

.slider-textbar-buttons {
    margin-top: 6%;
    display: flex;
    flex-direction: row; 
}

.slider-textbar-buttons :first-child {
    margin-right: 30px; 
}

.slider-scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.slider-scroll .prev{
 margin-right: 30px;
}

.slider-scroll .next{
    margin-left: 30px;
}

.grey {
    color: #C0C0C0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; 
}
@-webkit-keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}

@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}


/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #08664F;
    height: 144px;
}


/* MOBILE STYLES !!!!!!!!!!!!*/

@media screen and (max-width: 1128px) {

    .top-placeholder {
        height: 67px;
        width: auto;
    }

    .desktop {
        display: none;
    }

    body {
        display: flex;
    }
    
    .div-one .container{
        margin: 0;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }

    .menu-to-close {
        display: none;
        /* Заблокировано по дефолту, разблокируется через JS */
    }

    .adress-top{
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .adress-top span {
        color:#364844;
        font-weight: bold;
    }

    .adress-top p {
        color:#364844;
        font-size: 13px;
        margin-top: 5px !important;
        margin-right: 0 !important;
    }

    .adress-top img {
        display: none;
    }

    .adress-bottom {
        display: none;
    }

    .phone-number {
        display: none;
    }

    .header-top {
        position: fixed;
        background-color: #F8FBFA;
    }

    .header-top .container{
        justify-content: space-between;
        margin-left: 15px;
        width: 95%;
    }

    .header-top .container .logo-svg{
        margin-right: 50px;
    }
    

    /* OPEN MENU MOBYLE STYLES */

    .header-nav {
        position: fixed;
        background-color: rgba(69, 146, 127, 0.85);
        top: 67px;
        height: 100%;
        display: none;
    }

    .header-nav .container{
        position: fixed;
        margin-top: 48px;
        margin-left: 15px;
        flex-direction: column;
        width: 160px;
        align-items: flex-start;
    }

    .header-nav .container a{
       font-size: 16px;
       margin-bottom: 13px;
    }

    .white-button {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1.0 !important;
        padding: 15px;
        background-color: #f6f6f6;
        color: #1FA181;
        font-weight: bolder;
    }

    /* OPEN MENU MOBYLE STYLES END */

    .div-one {
   
        width: 100%;
    }

    .div-one-img {
        width: 100%;
        height: auto;
    }

    .div-one-img img{
        width: 100%;
        height: auto;
    }
    

   .div-two {
    display: none;
   }
   footer {
    display: none;
   } 

   h1 {
    color: #364844
   }

   .div-one p {
    color: #364844
   }

   .div-one-text {
    display: flex;
   }

   .div-one-text-inner h1{
    width: 200px;
   }
}

@media screen and (max-width: 500px) {
    .adress-top span {
        font-size: 14px;
    }

    .adress-top p {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
       }
    
       .div-one p {
        font-size: 16px;
        width: 70%;
       }

       .div-one-text {
        margin-left: 30px;
       }
       .div-one-text-inner {
        width: 100%;
    } 
    
}

@media screen and (max-width: 430px) {
    .header-top .container{
        justify-content: flex-start;
    }
}

@media screen and (max-width: 380px) {
    .adress-top span {
        font-size: 10px;
    }

    .adress-top p {
        font-size: 8px;
    }

    h1 {
        font-size: 20px;
       }
    
       .header-top .container .logo-svg{
        margin-right: 10px;
    }

    .logo-svg img {
        width: 60px;
        height: auto;
    }

    .header-top .container > div {
        margin-right: 10px;
    }
   
}


/* FEEDBACK FORM STYLES */
/* COMMON */
.feedback-form {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(69, 146, 127, 0.85);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.feedback-form .white-button {
    background-color: #FFFFFF;
    color: #0DBC91; 
    border: 1px solid #0DBC91;
    font-weight: bolder ;
    }

.feedback-form  .white-button:hover {
        background-color: #1debb7;
        color: #FFFFFF;   
    }

.feedback-form .white-button:active {
        background-color: #07a77f;
        color: #FFFFFF;   
    }

.feedback-form form {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.feedback-form form #close-feedback-form{
 position: relative;
 top: -35px;
 left: 45%;
}

.feedback-form legend {
    font-size: 30px;
    margin-right: 40px;
}

.feedback-form .form-groop {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.feedback-form .form-groop label{
    margin-bottom: 10px;

}

.feedback-form .form-groop input{
    width: 200px;

}

/* AUTHOR INFO STYLES */
/* COMMON */

.author-info {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(69, 146, 127, 0.85);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.info-text {
    background-color: #FFFFFF;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
